@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    -webkit-app-region:drag;
}


.register_page {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/background.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90vw;
}

.header_title {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color:#AEA0A0;
    font-weight: lighter;
}

.header_subtitle {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color:white;
    text-decoration: solid;
}

.inline {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_inputs {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color:white;
    font-family: 'Inter', sans-serif;
    transition: all linear 1s;
    width: 230px;
}

::placeholder {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color:#666262;
}

.icon {
    z-index: -1;
    position: relative;
    color: #C1BABA;
    margin-right: 20px;
    margin-top: 4px;
}

.separator {
    width: 300px;
    height: 3px;
    margin-left: 39px;
    margin-top: 2px;
    background-color: #767981;
    border-radius: 3px;
}

.second_icon {
    margin-left: 20px;
    padding-bottom: 3px;
}

.spacing {
    margin-top: 50px;
}


.button {
    margin-top: 40px;
    background-color: #3752EC;
    border-radius: 5px;
    width: 143px;
    height: 40px;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
}

.button:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 4px #3752EC);
}

.button_login {
    width: 349px;
    height: 53px;
    background-color: #AC4242;  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color:white;
    border-radius: 5px;
    transition: all 800ms;
    text-align: center;
}

.button_login2 {
    margin-top: 15px;
    width: 349px;
    height: 53px;
    background-color: #384383;  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color:white;
    border-radius: 5px;
    transition: all 800ms;
    text-align: center;
}

.text_or {
    color: #807777;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin: 22px;
}

.login_logo {
    position: sticky;
    margin-right: 15px;
}

.login_logo2 {
    position: sticky;
    padding-right: 15px;
    margin-left: 18px;
}

.button_login:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 4px #AC4242);
}

.button_login2:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 4px #384383);
}